<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->
<style type="text/css">
     .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
display: inline-block;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .15);
margin: 5px;
position: relative;
margin-bottom: 50px;
transition: all .2s ease-in-out;
}

.card:hover {
/*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
margin-bottom: 54px;
}

.image {
height: 200px;
opacity: .7;
overflow: hidden;
transition: all .2s ease-in-out;
}

.image:hover,
.card:hover .image {
height: 200px;
opacity: 1;
}

.text {
background: #FFF;
padding: 20px;
min-height: 200px;
}


.fab:hover {
background: #910500;
cursor: pointer;
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);
}
.row {
display: flex;
}

</style>